<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>All Chores</title>
</head>
<body>
    <h1>All Chores</h1>
    {% include 'nav.html' %}
    <div>
        {% for chore in chores %}
        <div class="chore-card">
            <div class="chore-name">{{ chore.name }}</div>
            <form method="POST" action="{{ url_for('delete_chore', chore_id=chore.id) }}">
                <button type="submit" class="delete-button">
                    <svg viewBox="0 0 24 24" class="delete-icon">
                        <path fill="currentColor" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95 1.414-1.414z"></path>
                    </svg>
                </button>
            </form>
        </div>
        {% endfor %}
    </div>
    <button onclick="window.location.href='/chores/add'">Add Chore</button>
</body>
</html>