h1 {
    color: #E29578;
}

nav {
    background-color: #83c5be;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #ddd;
}

nav li.active a {
    background-color: #006d77;
    color: white;
}

.chore-card {
    background-color: #ffddd2;
    border-radius: 10px; /* rounded edges */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* shadow effect */
    padding: 20px;
    margin: 10px;
    width: calc(30% - 20px); /* max of 3 chores per row */
    display: inline-block;
    vertical-align: middle; /* center the card vertically */
    text-align: center; /* center the text */
    max-width: 300px; /* add a maximum width */
    min-width: 200px; /* add a minimum width */
    position: relative; /* set the position to relative */
}

.chore-name {
    font-size: 20px; /* increase the font size */
    margin-bottom: 10px; /* add some spacing */
}

.member-card {
    background-color: #edf6f9;
    border-radius: 10px; /* rounded edges */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* shadow effect */
    padding: 20px;
    margin: 10px;
    width: calc(30% - 20px); /* max of 3 members per row */
    display: inline-block;
    vertical-align: middle; /* center the card vertically */
    text-align: center; /* center the text */
    max-width: 300px; /* add a maximum width */
    min-width: 200px; /* add a minimum width */
    position: relative; /* set the position to relative */
}

.member-name {
    font-size: 20px; /* increase the font size */
    margin-bottom: 10px; /* add some spacing */
}

.delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    position: absolute; /* set the position to absolute */
    top: 50%; /* center the button vertically */
    right: 10px; /* move the button to the right */
    transform: translateY(-50%); /* adjust the vertical position */
}

.delete-icon {
    width: 24px;
    height: 24px;
    fill: #000;
    border: 2px solid #000;
    border-radius: 50%;
    padding: 4px;
}

/* #E29578 - Salmon color to fill out the color palette of five colors */